

footer {
  padding: 30px 6%;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
}
@media (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 10px;
  }
}
footer div {
  display: flex;
  gap: 20px;
}

footer a {
  color: #666;
}